# Assignment 3

Given a bank customer, build a neural network-based classifier that can determine whether
they will leave or not in the next 6 months.
Dataset Description: The case study is from an open-source dataset from Kaggle.
The dataset contains 10,000 sample points with 14 distinct features such as
CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance, etc.

Link to the Kaggle project:
https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

Perform following steps:

1. Read the dataset.
2. Distinguish the feature and target set and divide the data set into training and test sets.
3. Normalize the train and test data.
4. Initialize and build the model. Identify the points of improvement and implement the same.
5. Print the accuracy score and confusion matrix

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Drop irrelevant columns
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [5]:
# Convert the categorical variables to numerical values
label_encoder = LabelEncoder()

# Apply Label Encoding on 'Gender' and 'Geography'
df['Gender'] = label_encoder.fit_transform(df['Gender'])  # Female=0, Male=1
df['Geography'] = label_encoder.fit_transform(df['Geography'])  # France=0, Germany=1, Spain=2

In [6]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [7]:
# Separate the features and the target variables
X = df.drop('Exited', axis = 1) # Features
Y = df['Exited'] # Target

In [8]:
# Split the dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [9]:
# Normalize the dataset
scaler = StandardScaler()
X_train = scaler.fit_transform(x_train)
X_test = scaler.transform(x_test)
# we use only transform on xtest as it uses the same mean and SD learned from the training set

In [10]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

WARNING:tensorflow:From C:\Users\amjos\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [11]:
model = Sequential()
model.add(Dense(activation='relu', units=32, input_dim=X_train.shape[1]))  # Input layer with more neurons
model.add(Dropout(0.5))  # Dropout to prevent overfitting
model.add(Dense(activation='relu', units=16))  # Second hidden layer
model.add(Dense(activation='sigmoid', units=1))  # Output layer for binary classification

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
# During training, the cross-entropy loss function exponentially increases the penalty for wrong outputs 
# to drive the weights and biases more aggressively in the right direction.

WARNING:tensorflow:From C:\Users\amjos\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\amjos\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [12]:
model.fit(X_train, y_train, batch_size=32, epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\amjos\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\amjos\AppData\Local\Programs\Python\Python310\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 2ms/step - loss: 0.5571 - accuracy: 0.7306
Epoch 2/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4672 - accuracy: 0.8006
Epoch 3/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4428 - accuracy: 0.8094
Epoch 4/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4419 - accuracy: 0.8109
Epoch 5/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4323 - accuracy: 0.8136
Epoch 6/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4267 - accuracy: 0.8159
Epoch 7/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4237 - accuracy: 0.8188
Epoch 8/50
250/250 [==============================] - 1s 2ms/step - loss: 0.4148 - accuracy: 0.8249
Epoch 9/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4132 - accuracy: 0.8253
Epoch 10/50
250/250 [==============================] - 0s 2ms/step - loss: 0.4030 - accuracy: 0.8299
Epoch 11/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3941 - accuracy: 0.8344
Epoch 12/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3894 - accuracy: 0.8359
Epoch 13/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3893 - accuracy: 0.8376
Epoch 14/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3875 - accuracy: 0.8353
Epoch 15/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3871 - accuracy: 0.8385
Epoch 16/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3877 - accuracy: 0.8380
Epoch 17/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3805 - accuracy: 0.8432
Epoch 18/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3827 - accuracy: 0.8385
Epoch 19/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3765 - accuracy: 0.8420
Epoch 20/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3756 - accuracy: 0.8428
Epoch 21/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3745 - accuracy: 0.8441
Epoch 22/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3715 - accuracy: 0.8470
Epoch 23/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3697 - accuracy: 0.8462
Epoch 24/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3722 - accuracy: 0.8445
Epoch 25/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8496
Epoch 26/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3678 - accuracy: 0.8479
Epoch 27/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3673 - accuracy: 0.8493
Epoch 28/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3695 - accuracy: 0.8472
Epoch 29/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3640 - accuracy: 0.8482
Epoch 30/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3626 - accuracy: 0.8491
Epoch 31/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3660 - accuracy: 0.8485
Epoch 32/50
250/250 [==============================] - 0s 1ms/step - loss: 0.3649 - accuracy: 0.8529
Epoch 33/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3665 - accuracy: 0.8491
Epoch 34/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3623 - accuracy: 0.8508
Epoch 35/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3646 - accuracy: 0.8510
Epoch 36/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3632 - accuracy: 0.8501
Epoch 37/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3636 - accuracy: 0.8497
Epoch 38/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3632 - accuracy: 0.8511
Epoch 39/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3597 - accuracy: 0.8508
Epoch 40/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3611 - accuracy: 0.8544
Epoch 41/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3613 - accuracy: 0.8499
Epoch 42/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3651 - accuracy: 0.8499
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3595 - accuracy: 0.8536
Epoch 44/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3565 - accuracy: 0.8568
Epoch 45/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3611 - accuracy: 0.8511
Epoch 46/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3601 - accuracy: 0.8524
Epoch 47/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3565 - accuracy: 0.8591
Epoch 48/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3583 - accuracy: 0.8540
Epoch 49/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3583 - accuracy: 0.8530
Epoch 50/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3525 - accuracy: 0.8571

In [13]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5) # to convert the probabilistic values to True or False
y_pred

63/63 [==============================] - 0s 2ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [14]:
from sklearn.metrics import accuracy_score, confusion_matrix
# Calculate accuracy score
accuracy = accuracy_score(y_test, y_pred)

# Print confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)

# Print the results
print("Accuracy Score:", accuracy)
print("Confusion Matrix:\n", conf_matrix)

Accuracy Score: 0.858
Confusion Matrix:
 [[1553   41]
 [ 243  163]]

In [16]:
from sklearn.metrics import classification_report, precision_score, recall_score, f1_score

# Assuming y_true and y_pred contain the true labels and predicted labels for the test set

# Generate a classification report that includes precision, recall, and F1-score
print("Classification Report:")
print(classification_report(y_test, y_pred))

# Alternatively, you can calculate each metric individually as follows:
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1 Score: {f1:.4f}")

Classification Report:
              precision    recall  f1-score   support

           0       0.86      0.97      0.92      1594
           1       0.80      0.40      0.53       406

    accuracy                           0.86      2000
   macro avg       0.83      0.69      0.73      2000
weighted avg       0.85      0.86      0.84      2000

Precision: 0.8514
Recall: 0.8580
F1 Score: 0.8387